<div>
    <app-child>
        <h3>Some Heading</h3>
        <p #para>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        </p>
        <hr>
        <p #para>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        </p>
        <hr>
        <p #para>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        </p>

        <app-test [name]="'Marry Jane'"></app-test>
        <app-test [name]="'John Bahadur'"></app-test>
        <app-test [name]="'Damodar Sulek'"></app-test>
        <app-test [name]="'Sara Sen'"></app-test>
    </app-child>
    <!-- <button (click)="clickCheck()"></button> -->
</div>
